*{
    text-align: center;
}

h1,h3,h5 {
font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
    color: white;
    background-color: cornflowerblue;
}

#mainTopic{
    color: blue;
}

div button{
    background-color: purple;
    color: azure;
}

div button:hover{
    background-color:yellow;
    color: blue;
}

.content:nth-of-type(2n+1){
    color:yellow;
}

h1::first-letter{
    color: red;
    
}

#yes:checked+label{
    color: green;
}